.navbar{
    background-color: rgb(36, 162, 238);
    height: 80px;
    z-index: 1000;
}

.navbar-brand{
    font-weight: 500;
    color: white;
    font-size: 24px;
    transition: 0.3s color;
}

.comicSubMenu{
    background-color: rgb(36, 162, 238);
    border: none;
    margin: none;
}

.offcanvas-body, .offcanvas-header{
    background-color: rgb(36, 162, 238);
    color: white;
}

.login-button{
    background-color: #0056b3;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover{
    background-color: rgb(36, 162, 238) ;
}

.navbar-toggler{
    border: none;
    font: 1.25rem;
}

.navbar-toggler:focus , .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    font-weight: 500;
    position: relative;
}

.nav-link:hover , .nav-link.active{
    color: white;

}

@media (min-width: 991px){
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        background-color: #000000;
        visibility: hidden;
        transition: 0.3s ease-in-out;

    }

    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}